@media only screen and (min-width : 480px) {
	.project-header {
		.project-button {
			a {
				width: 140px;
				margin-top: 0;
			}
		}
	}
	.tab-menu {
		.budget-project {
			.type-c {
				width: 96px !important;
			}
		}	
	}
}		