@media only screen and (min-width : 992px) {	
	.certificate-section {
		clear: both;
		h5 {
			text-align: left;
		}
		.certificate-block {
				margin-bottom: 20px;
			}
		.file-upload-field {
			text-align: right;
		}
	}
}